#title {
	float: left;
	font-size: 120%;
	margin-top: -0.2%;
}

#header-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
  
li.header-link-container {
	float: right;
}
  
li a.header-link {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	margin-top: -0.1%;
}
  
li a.header-link:hover {
	background-color: #111;
}

#about-container {
	width: 100%;
}

#about {
	float: right;
	margin-top: 8%;
	margin-right: 6%;
}

#work {
	float: left;
	margin-top: 10%;
	margin-left: 6%;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.body-of-text {
	background-color: rgb(95, 95, 95);
	color: azure;
	margin: 2%;
	width: 40%;
	border-radius: 10px;
	padding: 2%;
	padding-top: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
	font-size: 300%;
	text-align: center;
}

h2 {
	text-align: center;
}

p {
	text-align: justify;
}